.container {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    padding: 2rem 4rem 2rem 4rem;
    z-index: 1;
}

@media (max-width: 768px) {
    .opt {
        display: none;
    }
}