.leftmenu {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 20px;
    pointer-events: all;
}

.header {
    font-weight: 600;
    line-height: 1;
}

.menulist li{
    list-style: none;
    padding-left: 8px;
    margin-top: 4px;
}

.socialcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2rem;
    z-index: 1;
}