@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@media (hover: hover) {
    a:hover {
      color: blue;
      filter: drop-shadow(0px 0px 7px rgba(67,67,67,0.3))
    }
}